{% block content %}
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="card" style="">
			<img src="{{ recipe.Image }}"class=" card-img-top">
			<div class="card-body">				
				<h5 class="card-title">
					<a href="{{ url_for('main.recipe', id=recipe.id) }}">{{ recipe.recipeName }}</a>
				</h5>
				<p class="card-content"> 
					Rated: {{ recipe.Rating }} Stars
				<br>
					Course Type: {{ recipe.mealType }}
				</p>
				<div class="card-tabs">
					<ul class="tabs tabs-fixed-width">
						<li class="tab"><a class="inactive" href="#ingredients">Ingredients</a></li>
						<li class="tab"><a class="active" href="#instructions">Instructions</a></li>
					</ul>
				</div>
				<div class="card-content grey lighten-5">
					<p id="ingredients" style="display: none"> {{ recipe.Ingredients }}</p>
					<p id="instructions" style="display: none"> {{ recipe.Instructions }}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}