{% extends "admin_base.html" %}

{% block app_content %}
	<div class="container" style="margin-top:10px">
		<a href="{{ url_for('main.create_book') }}" class="btn btn-primary"> Create new book </a>
		<div class="container">
			<ul>
				{% for book in books %}
					<li> 
						<a href="{{ url_for('main.book', id=book.id) }}">{{ book.book_name }}</a>
					</li>
				{% endfor %}
			</ul>	
		</div>
		<nav aria-label="...">
			<ul class="pagination">
				<li class="{% if not prev_url %} disabled {% else %} page-item{% endif %}">
					<a href="{{ prev_url or '#' }}" class="page-link">
						<span aria-hidden="true">&larr;</span>Newer Posts
					</a>
				<li class="{% if not next_url %} disabled {% else %} page-item{% endif %}">
					<a href="{{ next_url or '#' }}" class="page-link">
						Older posts <span aria-hidden="true">&rarr;</span>
					</a>
				</li>
			</ul>
		</nav>		
	</div>
{% endblock %}