{% extends "admin_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'bootstrap/utils.html' as util %}

{% block app_content %}
	{% if form %}
	{{ wtf.quick_form(form) }}
	<br>
	{% endif %}
	<div class="container">
		<div>
			<a href="{{ url_for('main.admin_create_recipe') }}" class="btn btn-primary">
				Add Recipe
			</a>
		</div>
		{% for recipe in Recipes %}
			<div class="row">
				<div>
					{{ recipe.recipeName }}
				</div>
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Add to Book</button>
				<div class="dropdown-menu">
					{% for book in books %}
						<a class="dropdown-item" href="{{ url_for('main.add_to_book', current_book=book.id, current_recipe=recipe.id) }}">{{ book.book_name }} </a>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
		<div class="row" style="float:none; display: inline-block; text-align: initial">
			<ul>
				{% for recipe in Recipes %}
					<li> 
						<a href='#'>{{ recipe.recipeName }}</a>
					</li>
				{% endfor %}
			</ul>	
		</div>
		<nav aria-label="...">
			<ul class="pagination">
				<li class="{% if not prev_url %} disabled {% else %} waves-effect{% endif %}">
					<a href="{{ prev_url or '#' }}">
						<span aria-hidden="true">&larr;</span>Newer Posts
					</a>
				<li class="{% if not next_url %} disabled {% else %} waves-effect{% endif %}">
					<a href="{{ next_url or '#' }}">
						Older posts <span aria-hidden="true">&rarr;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
{% endblock %}