{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'bootstrap/utils.html' as util %}

{% block app_content %}
	{% if form %}
	{{ wtf.quick_form(form) }}
	<br>
	{% endif %}
	<div class="container" style="margin-top:25px;">
		<div class="row">
			<div class="col">
				<h4>
					My Recipes
				</h4>
			</div>
			<div class="col col-lg-3 col-sm-10">
				<a class="btn btn-primary" href="{{ url_for('main.create_recipe') }}">
					Create a new recipe
				</a>
			</div>
		</div>
		<div class="row" style="margin-top:25px;">
			{% for recipe in Recipes %}
				{% include '_my_recipe_card.html' %}
			{% endfor %}
		</div>
	
		<nav aria-label="..." style="margin-top:25px;">
			<ul class="pagination">
				<li class="{% if not prev_url %} disabled {% else %} page-item{% endif %}">
					<a href="{{ prev_url or '#' }}" class="page-link">
						<span aria-hidden="true">&larr;</span>Newer Recipes
					</a>
				<li class="{% if not next_url %} disabled {% else %} page-item{% endif %}">
					<a href="{{ next_url or '#' }}" class="page-link">
						Older Recipes <span aria-hidden="true">&rarr;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
{% endblock %}